blueprint_scenario_Get_Org_team_scenario_consumption.json
{
    "name": "Get Organization - Team - Scenario Consumption",
    "flow": [
        {
            "id": 3,
            "module": "make:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3293
            },
            "mapper": {
                "url": "/v2/admin/organizations",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "List Organizations"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "Imane Make to be deleted (i.douali@make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{3.body.organizations}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "make:listTeams",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3293
                            },
                            "mapper": {
                                "limit": "100",
                                "organization": "{{8.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 903,
                                    "y": 433
                                },
                                "restore": {
                                    "expect": {
                                        "sortDir": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "organization": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "make"
                                            },
                                            "label": "Imane Make to be deleted (i.douali@make.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:make",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "organization",
                                        "type": "select",
                                        "label": "Organization ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sortDir",
                                        "type": "select",
                                        "label": "Sort Order",
                                        "validate": {
                                            "enum": [
                                                "asc",
                                                "desc"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 4,
                                            "module": "make:makeApiCall",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3293
                                            },
                                            "mapper": {
                                                "url": "/v2/teams/{{2.id}}/usage",
                                                "method": "GET",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 300,
                                                    "name": "Get Team usage"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "GET"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "Imane Make to be deleted (i.douali@make.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 12,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{4.body.data}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1806,
                                                    "y": 301
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 13,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 1043
                                            },
                                            "filter": {
                                                "name": "Ignore the first bundle",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{12.`__IMTINDEX__`}}",
                                                            "b": "1",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{8.id}}_{{2.id}}_{{formatDate(12.date; \"DD.MM.YYYY\")}}",
                                                "data": {
                                                    "date": "{{12.date}}",
                                                    "Org_id": "{{8.id}}",
                                                    "team_id": "{{2.id}}",
                                                    "operations": "{{12.operations}}",
                                                    "datatransfer": "{{12.dataTransfer}}"
                                                },
                                                "overwrite": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2095,
                                                    "y": 288
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "Team_consumption"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "Org_id",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "team_id",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "date",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "operations",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "datatransfer",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "make:listScenarios",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3293
                                            },
                                            "mapper": {
                                                "team": "{{2.id}}",
                                                "limit": "100",
                                                "organization": "{{8.id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1467,
                                                    "y": 596
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cols": {
                                                            "mode": "chose"
                                                        },
                                                        "team": {
                                                            "mode": "edit"
                                                        },
                                                        "folder": {
                                                            "mode": "chose"
                                                        },
                                                        "islinked": {
                                                            "mode": "chose"
                                                        },
                                                        "organization": {
                                                            "mode": "edit"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "Imane Make to be deleted (i.douali@make.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "organization",
                                                        "type": "select",
                                                        "label": "Organization ID"
                                                    },
                                                    {
                                                        "name": "islinked",
                                                        "type": "boolean",
                                                        "label": "Only Active Scenarios"
                                                    },
                                                    {
                                                        "name": "cols",
                                                        "type": "select",
                                                        "label": "Fields",
                                                        "multiple": true,
                                                        "validate": {
                                                            "enum": [
                                                                "id",
                                                                "name",
                                                                "teamId",
                                                                "hookId",
                                                                "deviceId",
                                                                "deviceScope",
                                                                "description",
                                                                "folderId",
                                                                "isinvalid",
                                                                "islinked",
                                                                "islocked",
                                                                "isPaused",
                                                                "usedPackages",
                                                                "lastEdit",
                                                                "scheduling",
                                                                "iswaiting",
                                                                "dlqCount"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "limit",
                                                        "type": "uinteger",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "team",
                                                        "type": "select",
                                                        "label": "Team ID"
                                                    },
                                                    {
                                                        "name": "folder",
                                                        "type": "select",
                                                        "label": "Folder ID"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 6,
                                            "module": "make:makeApiCall",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3293
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{9.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "url": "/v2/scenarios/{{9.id}}/usage",
                                                "method": "GET",
                                                "headers": [
                                                    {
                                                        "key": "Content-Type",
                                                        "value": "application/json"
                                                    }
                                                ]
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1800,
                                                    "y": 600,
                                                    "name": "Get Scenario usage"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose"
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "GET"
                                                        },
                                                        "headers": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "make"
                                                            },
                                                            "label": "Imane Make to be deleted (i.douali@make.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:make",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "GET",
                                                                "POST",
                                                                "PUT",
                                                                "PATCH",
                                                                "DELETE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 14,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{6.body.data}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2076,
                                                    "y": 613
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 15,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 1044
                                            },
                                            "filter": {
                                                "name": "Ignore the first bundle",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{14.`__IMTINDEX__`}}",
                                                            "b": "1",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "key": "{{8.id}}_{{9.teamId}}_{{9.id}}_{{formatDate(14.date; \"DD.MM.YYYY\")}}",
                                                "overwrite": true,
                                                "data": {
                                                    "Org_id": "{{8.id}}",
                                                    "team_id": "{{9.teamId}}",
                                                    "date": "{{14.date}}",
                                                    "operations": "{{14.operations}}",
                                                    "datatransfer": "{{14.dataTransfer}}"
                                                }
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2365,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "scenario_consumption"
                                                        }
                                                    },
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "collection",
                                                        "label": "Record",
                                                        "spec": [
                                                            {
                                                                "name": "Org_id",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "team_id",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "date",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "operations",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "datatransfer",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 1,
                            "module": "make:makeApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3293
                            },
                            "mapper": {
                                "url": "/v2/organizations/{{8.id}}/usage",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Get Org usage"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "make"
                                            },
                                            "label": "Imane Make to be deleted (i.douali@make.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:make",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{1.body.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "datastore:AddRecord",
                            "version": 1,
                            "parameters": {
                                "datastore": 1042
                            },
                            "filter": {
                                "name": "Ignore the first bundle",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`__IMTINDEX__`}}",
                                            "b": "1",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "key": "{{8.id}}_{{formatDate(10.date; \"DD.MM.YYYY\")}}",
                                "data": {
                                    "date": "{{10.date}}",
                                    "Org_ID": "{{8.id}}",
                                    "operations": "{{10.operations}}",
                                    "datatransfer": "{{10.datasize}}"
                                },
                                "overwrite": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1489,
                                    "y": -13
                                },
                                "restore": {
                                    "expect": {
                                        "overwrite": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "datastore": {
                                            "label": "Org Consumption"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "overwrite",
                                        "type": "boolean",
                                        "label": "Overwrite an existing record",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "Org_ID",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "date",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "operations",
                                                "type": "text",
                                                "label": null
                                            },
                                            {
                                                "name": "datatransfer",
                                                "type": "text",
                                                "label": null
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "we.make.com"
    }
}