Create_Org_blueprint_V2.json
{
    "name": "Create an Org",
    "flow": [
        {
            "id": 2,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 62,
                "space": ""
            },
            "mapper": {
                "name": "Orgtest",
                "license": {
                    "dslimit": "50",
                    "fslimit": "1048576000",
                    "iolimit": "10000",
                    "apiLimit": "2000",
                    "dsslimit": "230686720",
                    "fulltext": true,
                    "interval": "1",
                    "transfer": "104857600",
                    "operations": "800000000",
                    "scenarioIO": true,
                    "gracePeriod": "7",
                    "executionTime": "60",
                    "restartPeriod": "1 month",
                    "customVariables": true,
                    "creatingTemplates": true,
                    "installPublicApps": true,
                    "productManagement": "salesforce",
                    "onDemandScheduling": true
                },
                "countryId": "42",
                "timezoneId": "113"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "name": {
                            "collapsed": true
                        },
                        "deleted": {
                            "mode": "chose",
                            "collapsed": true
                        },
                        "license": {
                            "nested": {
                                "fulltext": {
                                    "mode": "chose"
                                },
                                "scenarioIO": {
                                    "mode": "chose"
                                },
                                "customVariables": {
                                    "mode": "chose"
                                },
                                "creatingTemplates": {
                                    "mode": "chose"
                                },
                                "installPublicApps": {
                                    "mode": "chose"
                                },
                                "onDemandScheduling": {
                                    "mode": "chose"
                                }
                            },
                            "collapsed": true
                        },
                        "countryId": {
                            "collapsed": true
                        },
                        "timezoneId": {
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "type": {
                            "label": "Org Structure the true one"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "timezoneId",
                        "type": "number",
                        "label": "Timezone ID"
                    },
                    {
                        "name": "countryId",
                        "type": "number",
                        "label": "Country ID"
                    },
                    {
                        "name": "license",
                        "spec": [
                            {
                                "name": "dslimit",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "fslimit",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "iolimit",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "apiLimit",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "dsslimit",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "fulltext",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "interval",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "transfer",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "operations",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "scenarioIO",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "gracePeriod",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "executionTime",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "restartPeriod",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "customVariables",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "creatingTemplates",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "installPublicApps",
                                "type": "boolean",
                                "label": null
                            },
                            {
                                "name": "productManagement",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "onDemandScheduling",
                                "type": "boolean",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "License"
                    },
                    {
                        "name": "deleted",
                        "type": "boolean",
                        "label": "Deleted"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "make:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "url": "/v2/admin/organizations",
                "body": "{{2.json}}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Create an Org"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "make:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "url": "/v2/admin/organizations/{{1.body.organization.id}}",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Get Org Details"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "make:getAScenarioFolder",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "name": "{{6.body.organization.id}}_Scenarios",
                "team": "292"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "team",
                        "type": "text",
                        "label": "Team ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Folder Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "make:getAScenarioBlueprint",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "select": "file",
                "scenario": "737"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "draft": {
                            "mode": "chose"
                        },
                        "select": {
                            "mode": "chose",
                            "label": "In a JSON File"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "scenario",
                        "type": "text",
                        "label": "Scenario ID",
                        "required": true
                    },
                    {
                        "name": "draft",
                        "type": "boolean",
                        "label": "Draft"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Return a Blueprint",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "string",
                                "file"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "blueprint",
                        "type": "buffer",
                        "label": "Blueprint Data",
                        "semantic": "file:data"
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "semantic": "file:name"
                    },
                    {
                        "name": "gitSHA",
                        "type": "text",
                        "label": "GitHub SHA"
                    },
                    {
                        "name": "scheduling",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "between",
                                "spec": {
                                    "type": "date"
                                },
                                "type": "array",
                                "label": "Between"
                            },
                            {
                                "name": "interval",
                                "type": "number",
                                "label": "Interval"
                            },
                            {
                                "name": "restrict",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "days",
                                            "spec": {
                                                "type": "number"
                                            },
                                            "type": "array",
                                            "label": "Days"
                                        },
                                        {
                                            "name": "time",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Time"
                                        },
                                        {
                                            "name": "months",
                                            "spec": {
                                                "type": "number"
                                            },
                                            "type": "array",
                                            "label": "Months"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Restrict"
                            },
                            {
                                "name": "date",
                                "time": true,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "time",
                                "type": "text",
                                "label": "Time"
                            },
                            {
                                "name": "days",
                                "type": "array",
                                "label": "Days"
                            },
                            {
                                "name": "months",
                                "type": "array",
                                "label": "Months"
                            }
                        ],
                        "type": "collection",
                        "label": "Scheduling"
                    },
                    {
                        "name": "concept",
                        "type": "boolean",
                        "label": "Concept"
                    },
                    {
                        "name": "idSequence",
                        "type": "uinteger",
                        "label": "ID Sequence"
                    },
                    {
                        "name": "created",
                        "time": true,
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "last_edit",
                        "time": true,
                        "type": "date",
                        "label": "Last Edit"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "input_spec",
                                "type": "any",
                                "label": "Input Spec"
                            },
                            {
                                "name": "output_spec",
                                "type": "any",
                                "label": "Output Spec"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "length",
                        "type": "number",
                        "label": "Length"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "make:createAScenario",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "team": 292,
                "folder": "{{11.id}}",
                "blueprint": "{{toString(9.blueprint)}}",
                "scheduling": {
                    "date": "{{6.body.organization.nextReset}}",
                    "type": "once"
                },
                "organization": 33
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Monthly consumption"
                },
                "restore": {
                    "expect": {
                        "team": {
                            "mode": "chose",
                            "label": "Imane OEM Test Evrmt"
                        },
                        "folder": {
                            "mode": "edit"
                        },
                        "confirmed": {
                            "mode": "chose"
                        },
                        "scheduling": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Once"
                                }
                            }
                        },
                        "organization": {
                            "mode": "chose",
                            "label": "OEM Test "
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "blueprint",
                        "type": "any",
                        "label": "Blueprint",
                        "required": true
                    },
                    {
                        "name": "organization",
                        "type": "select",
                        "label": "Organization ID"
                    },
                    {
                        "name": "scheduling",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "indefinitely",
                                        "once",
                                        "daily",
                                        "weekly",
                                        "monthly",
                                        "yearly"
                                    ]
                                }
                            },
                            {
                                "name": "date",
                                "time": true,
                                "type": "date",
                                "label": "Date",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Scheduling"
                    },
                    {
                        "name": "confirmed",
                        "type": "boolean",
                        "label": "Confirmed"
                    },
                    {
                        "name": "team",
                        "type": "select",
                        "label": "Team ID",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder ID"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "make:getAScenarioBlueprint",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "select": "file",
                "scenario": "746"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "draft": {
                            "mode": "chose"
                        },
                        "select": {
                            "mode": "chose",
                            "label": "In a JSON File"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "scenario",
                        "type": "text",
                        "label": "Scenario ID",
                        "required": true
                    },
                    {
                        "name": "draft",
                        "type": "boolean",
                        "label": "Draft"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Return a Blueprint",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "string",
                                "file"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "blueprint",
                        "type": "buffer",
                        "label": "Blueprint Data",
                        "semantic": "file:data"
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "semantic": "file:name"
                    },
                    {
                        "name": "gitSHA",
                        "type": "text",
                        "label": "GitHub SHA"
                    },
                    {
                        "name": "scheduling",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "between",
                                "spec": {
                                    "type": "date"
                                },
                                "type": "array",
                                "label": "Between"
                            },
                            {
                                "name": "interval",
                                "type": "number",
                                "label": "Interval"
                            },
                            {
                                "name": "restrict",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "days",
                                            "spec": {
                                                "type": "number"
                                            },
                                            "type": "array",
                                            "label": "Days"
                                        },
                                        {
                                            "name": "time",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Time"
                                        },
                                        {
                                            "name": "months",
                                            "spec": {
                                                "type": "number"
                                            },
                                            "type": "array",
                                            "label": "Months"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Restrict"
                            },
                            {
                                "name": "date",
                                "time": true,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "time",
                                "type": "text",
                                "label": "Time"
                            },
                            {
                                "name": "days",
                                "type": "array",
                                "label": "Days"
                            },
                            {
                                "name": "months",
                                "type": "array",
                                "label": "Months"
                            }
                        ],
                        "type": "collection",
                        "label": "Scheduling"
                    },
                    {
                        "name": "concept",
                        "type": "boolean",
                        "label": "Concept"
                    },
                    {
                        "name": "idSequence",
                        "type": "uinteger",
                        "label": "ID Sequence"
                    },
                    {
                        "name": "created",
                        "time": true,
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "last_edit",
                        "time": true,
                        "type": "date",
                        "label": "Last Edit"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "input_spec",
                                "type": "any",
                                "label": "Input Spec"
                            },
                            {
                                "name": "output_spec",
                                "type": "any",
                                "label": "Output Spec"
                            }
                        ],
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "length",
                        "type": "number",
                        "label": "Length"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "make:createAScenario",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "team": 292,
                "folder": "{{11.id}}",
                "blueprint": "{{toString(12.blueprint)}}",
                "scheduling": {
                    "date": "{{6.body.organization.nextReset}}",
                    "type": "once"
                },
                "organization": 33
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Update NextReset"
                },
                "restore": {
                    "expect": {
                        "team": {
                            "mode": "chose",
                            "label": "Imane OEM Test Evrmt"
                        },
                        "folder": {
                            "mode": "edit"
                        },
                        "confirmed": {
                            "mode": "chose"
                        },
                        "scheduling": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Once"
                                }
                            }
                        },
                        "organization": {
                            "mode": "chose",
                            "label": "OEM Test "
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "blueprint",
                        "type": "any",
                        "label": "Blueprint",
                        "required": true
                    },
                    {
                        "name": "organization",
                        "type": "select",
                        "label": "Organization ID"
                    },
                    {
                        "name": "scheduling",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "indefinitely",
                                        "once",
                                        "daily",
                                        "weekly",
                                        "monthly",
                                        "yearly"
                                    ]
                                }
                            },
                            {
                                "name": "date",
                                "time": true,
                                "type": "date",
                                "label": "Date",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Scheduling"
                    },
                    {
                        "name": "confirmed",
                        "type": "boolean",
                        "label": "Confirmed"
                    },
                    {
                        "name": "team",
                        "type": "select",
                        "label": "Team ID",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder ID"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 34
            },
            "mapper": {
                "key": "",
                "data": {
                    "ID": "{{1.body.organization.id}}",
                    "NextReset": "{{6.body.organization.nextReset}}",
                    "Consumption_ScenarioID": "{{3.id}}",
                    "NextResetUpdate_ScenarioID": "{{7.id}}"
                },
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "Org list"
                },
                "restore": {
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Org list"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "ID",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "NextReset",
                                "type": "date",
                                "label": null
                            },
                            {
                                "name": "Consumption_ScenarioID",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "NextResetUpdate_ScenarioID",
                                "type": "number",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "oem.integromat.cloud"
    }
}