Update_NextReset_blueprint.json
{
    "name": "Template_Update Next_Reset after Reset",
    "flow": [
        {
            "id": 2,
            "module": "make:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1245
            },
            "mapper": {
                "url": "/v2/admin/organizations/120",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "OEM Admin All scopes (oem@integromat.cloud)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 34,
                "continueWhenNoRes": false
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "ID",
                            "b": "{{2.body.organization.id}}",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 295,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "Org list"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "ID",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            },
                            {
                                "name": "FirstReset",
                                "type": "date",
                                "label": null,
                                "required": false
                            },
                            {
                                "name": "ScenarioID",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 34
            },
            "mapper": {
                "key": "{{6.key}}",
                "data": {
                    "ID": "",
                    "NextReset": "{{2.body.organization.nextReset}}",
                    "Consumption_ScenarioID": "",
                    "NextResetUpdate_ScenarioID": ""
                },
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "datastore": {
                            "label": "Org list"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "ID",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "NextReset",
                                "type": "date",
                                "label": null
                            },
                            {
                                "name": "Consumption_ScenarioID",
                                "type": "number",
                                "label": null
                            },
                            {
                                "name": "NextResetUpdate_ScenarioID",
                                "type": "number",
                                "label": null
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "oem.integromat.cloud"
    }
}